.cart {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.cart h2 {
  text-align: center;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  margin: 10px 0;
}
